body {
    background-image: url("background-wallpapers-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


#container {
background-color: #8FD9F5;
width: 400px;
height: 400px;
padding: 10px;
border: 5px solid navy;
margin: 20px;
margin-left:450px;
text-align: center;
}

#todo{
width:380px;
font-size: 24px;
font-family: inherit;
line-height: 1.4em;
border: 0;
}

.listItems{
color: red;
text-align: left;
}